/*Globales*/
/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    font-size: 62.5%; /** Reset rems **/
}
*, *:before, *:after {
    box-sizing: inherit;
}
header {

}
body.pag1{
    background-image: url("../img/chela.png");
    max-width:100%;
    background-size: cover;
}
body.pag2{
    background-color: #FB5B28;

}
.ent{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    font-weight: bolder;
    border-radius: 4rem;
    width: 100%;

}
img.foto{
    max-width: 30%;

}
h5{
    font-size: 1.8rem;
    font-weight: inherit;
}
a1{
    font-size: 4rem;
    font-weight: bolder;
    padding: 43rem;
    list-style-type: upper-roman;
}
.social{
    display: flex;
    flex-direction: row;
    align-content: center;
    max-width: 100%;
    width: 100%;


}
img.social{
    background-color: darkcyan;
    padding: 2rem;
    margin: 0.1rem;
    max-width: 22%;
    border-radius: 1rem;
    margin: 0 auto;
    width:100%
}
header.contacto{
}
h3{
    font-size: 2.8rem;
    padding-left: 1rem;
}
h2{
    font-size: 2.8rem;
    padding-left: 1rem;
    color: #FB5B28;
    background-color: #FB5B28;
}
h4{
    font-weight: bold;
    background-color: #FB8434;
    padding-left: 0.8rem;
    font-size: 2.4rem;
}
li{
    font-weight: bold;
    background-color: #FB8434;
    padding-left: 0.8rem;
    font-size: 2.4rem;
}
input{
    background-color: #FB5B28;
}
